.x-viewport {
  overflow: visible !important; }

.mainbody .x-panel-body {
  overflow: visible;
  background-color: #f1ab02;
  border-width: 0px; }

.boxOne .x-panel-body {
  overflow: visible;
  background-color: white; }

.boxEven .x-panel-body {
  overflow: visible;
  background-color: #f1ab02;
  border-width: 0px; }

.boxOdd .x-panel-body {
  overflow: visible;
  background-color: #a4cd39;
  border-width: 0px; }

.boxEven, .boxOdd {
  overflow: visible !important; }
  .boxEven .x-box-inner, .boxOdd .x-box-inner {
    overflow: visible !important; }

.intro_head1 {
  font-family: Haettenschweiler, "Arial Narrow", sans-serif;
  font-size: 44pt;
  color: #d25901;
  font-weight: 900;
  text-decoration: none; }

.intro_head2 {
  color: #f1ab02;
  font-size: 30pt;
  font-family: tahoma;
  font-weight: 900;
  text-decoration: none; }

.small {
  font-family: tahoma;
  font-size: 10pt;
  font-weight: normal; }

.medium {
  font-family: tahoma;
  font-size: 20pt;
  font-weight: normal; }

.overview_head,
.techno_head,
.aboutus_head,
.contactus_head,
.careers_head1,
.careers_head2 {
  font-size: 70pt;
  font-family: Haettenschweiler, "Arial Narrow", sans-serif;
  display: block;
  clear: both;
  margin-bottom: 25pt; }

.overview_head {
  color: #960000; }

.overview_foot img {
  margin-right: 30pt; }

.overview_matter,
.techno_matter,
.aboutus_matter,
.contactus_matter,
.careers_matter {
  font-family: Tahoma;
  font-size: 18pt;
  color: white;
  line-height: 44px;
  margin-bottom: 25pt;
  display: block;
  clear: both; }

.techno_head {
  color: white; }

.aboutus_head {
  color: white; }
  .aboutus_head b {
    color: #a4cd39; }

.aboutus_profile {
  font-family: Tahoma;
  color: white;
  vertical-align: top;
  text-align: right;
  line-height: 32pt;
  font-size: 18pt;
  text-align: left; }
  .aboutus_profile b {
    color: darkgreen;
    font-size: 26pt; }

.careers_head1 {
  color: #d25901;
  clear: left !important; }

.careers_head2 {
  color: #960000;
  clear: right !important; }

.contactus_head {
  color: white;
  float: right;
  clear: both; }

.contactus_matter {
  color: white;
  text-align: right;
  float: right;
  clear: both; }

.contactus_foot {
  font-family: Tahoma;
  font-size: 16pt;
  font-weight: normal;
  color: white;
  vertical-align: middle;
  margin-right: 50pt;
  margin-top: 12pt;
  float: right; }

.contactus_foot_btn {
  float: right;
  margin-left: 3pt; }

.creditslink {
  color: white;
  font-size: 10pt;
  font-family: tahoma;
  text-decoration: none;
  font-weight: normal;
  float: right; }

/* bug: somehow moving it to top, makes overlap_pages
        impotent. */
.overlap_pages {
  background: rgba(0, 0, 0, 0);
  z-index: 1; }
  .overlap_pages .x-panel-body {
    background: rgba(0, 0, 0, 0); }

.showlink {
  cursor: pointer; }

.round-corners {
  -moz-border-radius: 4pt;
  -webkit-border-radius: 4pt;
  -o-border-radius: 4pt;
  -ms-border-radius: 4pt;
  -khtml-border-radius: 4pt;
  border-radius: 4pt; }
